<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
        <pluginGroup>org.openmrs.maven.plugins</pluginGroup>
    </pluginGroups>
    <activeProfiles>
        <activeProfile>openmrs</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>openmrs</id>
            <properties>
                <archetypeCatalog>https://mavenrepo.openmrs.org/public/archetype-catalog.xml</archetypeCatalog>
                <archetypeRepository>https://mavenrepo.openmrs.org/public</archetypeRepository>
            </properties>
            <repositories>
                <repository>
                    <id>openmrs-repo</id>
                    <name>OpenMRS Repository</name>
                    <url>https://mavenrepo.openmrs.org/public</url>
                </repository>
                <repository>
                    <id>archetype</id>
                    <url>https://mavenrepo.openmrs.org/public</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>openmrs-repo-thirdparty</id>
                    <name>OpenMRS Thirdparty Nexus Repository</name>
                    <url>https://mavenrepo.openmrs.org/thirdparty</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>openmrs-repo</id>
                    <name>OpenMRS Nexus Repository</name>
                    <url>https://mavenrepo.openmrs.org/public</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>



