<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
        <pluginGroup>org.openmrs.maven.plugins</pluginGroup>
    </pluginGroups>
    <activeProfiles>
        <activeProfile>openmrs</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>bintray-sdk</id>
            <username>${env.BINTRAY_USER}</username>
            <password>${env.BINTRAY_API_KEY}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>openmrs</id>
            <properties>
                <archetypeCatalog>http://mavenrepo.openmrs.org/nexus/content/repositories/public/archetype-catalog.xml</archetypeCatalog>
                <archetypeRepository>http://mavenrepo.openmrs.org/nexus/content/repositories/public</archetypeRepository>
            </properties>
            <repositories>
                <repository>
                    <id>openmrs repo</id>
                    <name>OpenMRS Nexus Repository</name>
                    <url>http://mavenrepo.openmrs.org/nexus/content/repositories/public</url>
                </repository>
              <repository>
                <id>archetype</id>
                <url>http://mavenrepo.openmrs.org/nexus/content/repositories/public</url>
               <releases>
                 <enabled>true</enabled>
                 <checksumPolicy>fail</checksumPolicy>
               </releases>
               <snapshots>
                 <enabled>true</enabled>
                 <checksumPolicy>warn</checksumPolicy>
              </snapshots>
              </repository>
                <repository>
                    <id>openmrs-repo-thirdparty</id>
                    <name>OpenMRS Thirdparty Nexus Repository</name>
                    <url>http://mavenrepo.openmrs.org/nexus/content/repositories/thirdparty</url>
                </repository>
                <repository>
                    <id>openmrs-bintray-repo</id>
                    <name>OpeMRS Maven Bintray Repository</name>
                    <url>https://dl.bintray.com/openmrs/maven/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>openmrs-repo</id>
                    <name>OpenMRS Nexus Repository</name>
                    <url>http://mavenrepo.openmrs.org/nexus/content/repositories/public</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>openmrs-bintray-repo</id>
                    <name>OpeMRS Maven Bintray Repository</name>
                    <url>https://dl.bintray.com/openmrs/maven/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>



