<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Tests</author>
	<description>
		Integration tests purposes
	</description>

	<require_modules>
		<require_module version="${metadatadeployVersion}">org.openmrs.module.metadatadeploy</require_module>
		<require_module version="${legacyuiVersion}">org.openmrs.module.legacyui</require_module>
		<require_module version="${fhir2Version}">org.openmrs.module.fhir2</require_module>
		<require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
	</require_modules>
</module>

