# this build is designed to replicate the Travis CI workflow
name: Build SDK

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        platform: [ ubuntu-latest ]
        # version selection strategy: use the LTS support versions and the latest version
        java-version: [ 8, 11, 16 ]

    runs-on: ${{ matrix.platform }}
    env:
      PLATFORM: ${{ matrix.platform }}
      JAVA_VERSION: ${{ matrix.java-version }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: ${{ matrix.java-version }}
      - name: Build and test SDK
        run: mvn clean install --batch-mode --show-version --file pom.xml
      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: IT Output
          path: integration-tests/target/test-classes/integration-test
